<% if flash[:notice]%>
    <%= flash[:notice]%><br>
    <%end%>


<%= @user.name%><br>
<p>Mood happy</p><br>
<p>Tickets: <%= @user.tickets%></p><br>
<%= @user.height%><br>
<p>ADMIN</p><br>
<p>sad</p><br>

<h3>See attractions</h3>
<%= link_to 'See attractions', attractions_path%>

<%= link_to 'Log Out', user_path(@user), method: :delete %>